/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.icons22{
  font-size: 22px;
}

.icons20{
  font-size: 20px;
}

.icons18{
  font-size: 18px;
}

h1 {font-size: 50px;}
.container {width: 940px;}
.container-topo-titulo {background-color: #00ABA5; height: 30px;}
.container-topo-titulo b {text-align: center; color: #fff; font-weight: normal;}
.navbar-inner .navbar-topo {background-color: #f1f1f0 !important; height: 100px;}
.container-logo {width: 940px !important; margin: 0 auto; height: 60px;}
.titulo {margin-top:5px; float: left; min-width: 385px;}
.titulo img {float: left; margin-top: 3px;}
.texto_projeto {float: right; margin-left: 5px;}
.nome_projeto {margin: 0 auto; font-size: 19px; line-height: 26px;}
.pmf {font-size: 14px;}
.administrador {float: right; margin-top: 10px; font-size: 12px; margin-right:0px; /*margin-right: -30px;*/}
.adm-setorial, .adm-logout {margin-left: 10px;}
.navbar .menu-topo {background-color: #00ABA5 !important; height: 40px; margin-bottom: 0px;}
.menu-lista li a {background: url('seta_topo.png') 0px 16px no-repeat; }
ul.menu-lista a {border:0 !important; color:#fff !important;}
.menu-lista a:hover {}
.container-menu {width: 940px; margin: 0 auto;}
.breadcrumb-div {width: 100%; background-color: #f5f5f5; border-bottom: 1px solid #ddd; height: 30px;}
ul.breadcrumb li a {font-size: 14px; padding: 0 0 0 10px;}
.hero-unit {margin-bottom: 15px !important; padding: 40px 20px 40px 20px !important; font-size: 14px !important;}
.container-login {background-color: #00ABA5 !important; float: left; width: 940px !important;}
.container-sistema {background-color: #ECF0F1 !important;}
div.container-sistema h1 {font-size: 50px;}
.rodape {background-color: #00aba5; padding:20px 0 20px 0; /*padding: 20px 20px 20px 20px;*/ margin-top: 20px; height: 20px; width: 100%; clear: both; float: left; /*margin-top: -15px; margin-bottom: 5px;*/}
.rodape-interno {width: 940px; margin: 0 auto;}
.rodape p {font-size: 11px; color: #fff; padding: 0px 5px 0px 5px;}
.copyright {float: right;}
/* Devise */
/*
div.form-actions {background-color: transparent; border: none !important; margin-top: -18px !important;}
.button-login {background-color: #00ABA5 !important; width: 312px !important; margin-left: -20px;}
.login-formulario {width: 320px !important;}
.link-signin {color: #F1AE00; font-size: 13px;}
.link-signup {color: #F1AE00; font-size: 13px;}
.link-forgot {margin-left:10px; color: #F1AE00; font-size: 13px;}
.span9 {width: 640px !important; margin-left:126px !important;}
.logowrapper {margin-left: -15px; margin-top: 20px;}
*/

/* FORM LOGIN */
.table-list {margin-top: 20px;}
/*.table-list thead {border-bottom: 2px solid #818181;}*/
a.btn-botao {padding: 5px 10px 5px 10px;}

.solicitacao_orgao select {margin-left: 20px;}

 /*Tabelas*/

table tbody > tr:nth-child(2n+1) > td, table tbody > tr:nth-child(2n+1) > th {
    background-color: #F9F9F9;
}

 table {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-collapse: separate !important;
    border-color: #DDDDDD #DDDDDD #DDDDDD -moz-use-text-color;
    border-image: none;
    border-radius: 4px 4px 4px 4px;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px 0;
    margin-bottom: 20px;
    width: 100%;
}
table {
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100%;
}

table thead tr {
    background: -moz-linear-gradient(center top , #EEEEEE 0%, #DADADA 100%) repeat scroll 0 0 transparent;
}
table thead tr {
    background-color: #E6E6E6;
    background-image: linear-gradient(to bottom, #EEEEEE, #DADADA);
    background-repeat: repeat-x;
}
table thead tr th:first-child {
    border-left-color: #CCCCCC;
}
table thead th:first-child {
    border-left-color: #CCCCCC;
}
table thead tr th {
    border-left: 1px solid #F1F1F1;
    border-right: 1px solid #CCCCCC;
    box-shadow: 0 1px 0 #FFFFFF inset;
    color: #444444;
    font-size: 13px;
    font-weight: 600;
    padding-bottom: 10px;
    padding-top: 10px;
}
table thead th {
    border-left: 1px solid #F1F1F1;
    border-right: 1px solid #CCCCCC;
    box-shadow: 0 1px 0 #FFFFFF inset;
    color: #444444;
    font-size: 13px;
    font-weight: 400;
    padding-bottom: 10px;
    padding-top: 10px;
}
table thead th {
    vertical-align: bottom;
}
table th, table td {
    border-top: 1px solid #DDDDDD;
    line-height: 14px;
    padding: 8px;
    text-align: left;
    vertical-align: top;
}
table th, table td {
    border-left: 1px solid #DDDDDD;
}
table th {
    font-weight: bold;
}
table th, table td {
    border-top: 1px solid #DDDDDD;
    line-height: 20px;
    padding: 8px;
    text-align: left;
    vertical-align: top;
}

table thead:first-child tr:first-child > th:first-child, table tbody:first-child tr:first-child > td:first-child, table tbody:first-child tr:first-child > th:first-child {
    border-top-left-radius: 4px;
}
.form-signin {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        /*padding: 7px 9px;*/
      }